@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- fixed navbar ----- */

.fixNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* ----- pagination ----- */

.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.page-item {
    margin: 0 4px;
}

.page-link {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}

.active {
    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
}

.page-link:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}