@tailwind base;
@tailwind components;
@tailwind utilities;

.fixNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.page-item {
    margin: 0 2px;
}

.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.page-link {
    background-color: #fff;
    border: 1px solid #dee2e6;
    color: #007bff;
    cursor: pointer;
    display: block;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
}

.page-link:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}