@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

/* --------- fixed navbar --------- */

.fixNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


/*----------- active link --------- */

.active-link {
    --tw-text-opacity: 1;
    color: rgb(250 204 21 / var(--tw-text-opacity));
}


/* ---------- pagination ---------- */

.pagination {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.page-item {
    margin: 0 4px;
    border-radius: 5px;
}

.page-link {
    border: 1px solid yellow;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.active {
    background-color: #007bff;
}

.page-link:hover {
    background-color: #007bff;
    border-color: #007bff;
}


/* ------------ bg-signup --------------- */

.bg-login-signup {
    background: url(../public/images/blob-scene-haikei\ \(1\).png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 95vh;
}